# Capturas de red
Capturas/

# Carpetas pesadas de similitud
estudio_huellas_cl/
estudio_huellas_srv/

# Herramientas externas
ja4/
ja4x/

# Resultados intermedios grandes
RESULTADO_JA4_COMPARACION_FINAL.csv
RESULTADO_JA4S_COMPARACION_FINAL.csv

# Comandos de ayuda
comandos_cmd_windows

# Python
__pycache__/
*.pyc
*.pyo
venv/
env/

# Sistema
.DS_Store
Thumbs.db
